.landing-img{
    position: relative;
/*    width: 120%;*/
    left: 90px;
    top: 200px;
   
}

.landing-img1{
    position: relative;
/*    width: 120%;*/
    right: 90px;
    top: 300px;
}

.landing-img2{
    position: relative;
/*    width: 120%;*/
    right: 100px;
    top: 400px;
}

.landing-img3{
    position: relative;
/*    width: 120%;*/
    right: 420px;
    top: 600px;
}

input::placeholder {
    color: #999; 
    font-size: 13px;
  }

.specialities-img{
  width: 4%;
  height: 2%;
}

.landing-dropdown{
  background-color: white;
}
.landing-dropdown:hover{
  background-color: #F0F7FF;
}


@media screen and (max-width: 600px) {
  .specialities-img{
    width: 10%;
    height: 8%;
  }

}


@media screen and (max-width: 1200px) {
    .landing-img{
        position: relative;
        width: 130%;
        right: 205px;
        top: 200px;
    }

    .landing-img1{
        position: relative;
/*        width: 130%;*/
        right: 85px;
        top: 362px;
    }
    .landing-img2{
        position: relative;
/*        width: 130%;*/
        right: 100px;
        top: 440px;
    }
    .landing-img3{
        position: relative;
/*        width: 130%;*/
        right: 378px;
        top: 570px;
    }
  
}

@media screen and (min-width: 1108px) and (max-width: 1200px) {
    .landing-img{
        position: relative;
        width: 130%;
        right: 205px;
        top: 200px;
    }

    .landing-img1{
        position: relative;
/*        width: 130%;*/
        right: 85px;
        top: 300px;
    }
    .landing-img2{
        position: relative;
/*        width: 130%;*/
        right: 100px;
        top: 400px;
    }
    .landing-img3{
        position: relative;
/*        width: 130%;*/
        right: 415px;
        top: 564px;
    }
  
}