.custome-button {
    width: 100%;
    padding: 6px;
    border: none;
    color: white;
    font-size: 15px;
    transition-duration: 100ms;
}

.custome-button:hover {
    background-color: #0F6E9D;
}