@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 992px) and (max-width: 1199px) {
.mobile-contact{
display: block;
}
.social_media{
    height: 50px;
}

.bottomline{
    width: 50%;
}

.map{
    width: 100%;
}
}

